{% extends 'base.html.twig' %}

{% block title %}{{"register"|trans}}
{% endblock %}

{% block body %}
	<h1>{{"register"|trans}}</h1>

	{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">{{"register.account"|trans}}</button>
	<button>
		<a href="{{ path('app_home') }}">{{"user.back.to.main.menu"|trans}}</a>
	</button>
	{{ form_end(registrationForm) }}
{% endblock %}
