{% extends 'base.html.twig' %}

{% block title %}
    {{ 'carpooling.infos.title'|trans }}
{% endblock %}

{% block body %}
    <div class="carpooling-offers-wrapper">
        {% for offer in carPoolingOffers %}
            <div class="offer-wrapper">
                <h1>{{ offer.name }}</h1>

                {% if offer.description %}
                    <p>{{ offer.description|e('html') }}</p>
                {% endif %}

                <p><strong>{{ offer.departureLocation }}</strong></p>

                <p>{{ 'carpooling.offer.departure_location'|trans({'%departureLocation%': offer.departureLocation})|raw }}</p>
                <p>{{ 'carpooling.offer.arrival_location'|trans({'%arrivalLocation%': offer.arrivalLocation})|raw }}</p>
                
                <p>{{ 'carpooling.offer.creator'|trans({'%creator%': offer.creator.email}) }}</p>
            </div>
        {% endfor %}

        <div class="security-reminder">
            {{'security.reminder|'|trans}}
        </div>
    </div>
{% endblock %}
