{% extends 'base.html.twig' %}

{% block title %}
    {{ 'carpooling.infos.title'|trans }}
{% endblock %}

{% block body %}
    <div class="carpooling-offers-info-wrapper">

    <p>{{ 'carpooling.offer.departure_time'|trans({'%departureTime%': offer.departureTime}) }}</p>
    <p>{{ 'carpooling.offer.seats_available'|trans({'%seatsAvailable%': offer.seatsAvailable}) }}</p>
    

    <a href="{{ path('app_event', { 'id': offer.event.id }) }}">{{ offer.event.name }}</a>
    </div>
{% endblock %}
