{% extends 'base.html.twig' %}

{% block title %}
    {{ 'carpooling.title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/multi-step-form.js') }}"></script>
{% endblock %}

{% block body %}
    <h3 class="form-title">{{ 'carpooling.title'|trans }}</h3>

    <div id="form-wrapper">
        {{ form_start(form) }}
        <div class="form-container">
            <div class="form1">
                {{ form_row(form.name, {'attr': {'class': 'required'}}) }}
                {{ form_row(form.description) }}

                <div class="form-btn-wrapper">
                    <div class="previous"><p>{{ 'form.previous'|trans }}</p></div>
                    <div class="next"><p>{{ 'form.next'|trans }}</p></div>
                </div>
            </div>

            <div class="form2">
                {{ form_row(form.departure_location) }}
                {{ form_row(form.arrival_location) }}
                {{ form_row(form.departure_time) }}

                <div class="check-box-and-wrapper">
                    <label for="seats">{{ 'carpooling.offer.seats_available_label'|trans }}</label>
                    <input type="checkbox" id="seats" name="seats" />
                </div>

                <div class="inputs-wrapper" id="seatsWrapper" style="display: none;">
                    {{ form_row(form.seats_available, {'attr': {'placeholder': 'carpooling.offer.seats_available_input'|trans} }) }}
                </div>

                {{ form_row(form.event) }}

                <div class="form-btn-wrapper">
                    <div class="previous"><p>{{ 'form.previous'|trans }}</p></div>
                </div>
                <button type="submit" class="submit-btn">{{ "carpooling.offer.edit"|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}

    </div>

    <script>
        document.getElementById('seats').addEventListener('change', function() {
            let seatsWrapper = document.getElementById('seatsWrapper');
            if (this.checked) {
                seatsWrapper.style.display = 'block';
            } else {
                seatsWrapper.style.display = 'none';
            }
        });
    </script>
{% endblock %}

