{% extends 'base.html.twig' %}

{% block title %}{{"user.panel.title"|trans}} {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>{{"user.created.events"|trans}}</h1>
        {% if events %}
            {% for event in events %}
                <ul>
                    <li><a class="see-button a-button" href="{{ path('app_event', {'id': event.id}) }}">{{ event.name }}</a></li>
                    <li><a href="{{ path('user_edit_event', {'id': event.id}) }}">{{"events.edit"|trans}} </a></li>
                    <li>
                        <a href="{{ path('user_delete_event', {'id': event.id}) }}"
                        onclick="return confirm('{{ 'events.delete.confirmation'|trans({'%event_name%': event.name}) }}')">
                        {{ 'events.delete'|trans }}
                        </a>
                    </li>                
                </ul>
            {% endfor %}
        {% else %}
            <p>Vous n'avez pas encore créé d'événements</p>
        {% endif %}
        <button>
            <a href="{{ path('user_add_event') }}">Ajouter</a>
        </button>
        <div>
            <a href="{{ path('app_home') }}">Retourner à l'accueil</a>
        </div>
    </div>
{% endblock %}
