{% extends 'base.html.twig' %}

{% block title %}{{ "user.panel.title"|trans }}{% endblock %}

{% block body %}
    <div class="user-events">
        <h1>{{ "user.created.events"|trans }}</h1>
        <div class="user-event-card-wrapper">
            {% if events %}
                {% for event in events %}
                    <div class="user-event-card">
                        <ul>
                            <li>
                                <a class="see-button a-button" href="{{ path('app_event', {'id': event.id}) }}">
                                    {{ event.name }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit_event', {'id': event.id}) }}">
                                    {{ "user.edit"|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_delete_event', {'id': event.id}) }}"
                                   onclick="return confirm('{{ 'events.delete.confirmation'|trans({'%event_name%': event.name}) }}')">
                                    {{ "user.delete"|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>{{ "events.none"|trans }} </p>
        {% endif %}
    </div>

    <div>
        <a class="basic-button" href="{{ path('user_add_event') }}">{{ "user.add.event.title"|trans }} </a>
    </div>

    <div class="user-carpoolings-offers">
        <h1>{{ "user.carpooling-offers"|trans }}</h1>
        <div class="user-event-card-wrapper">
            {% if carpoolingOffers %}
                {% for offer in carpoolingOffers %}
                    <div class="user-carpooling-offer-card">
                        <ul>
                            <li>
                                <a class="see-button a-button" href="{{ path('carpooling_info', {'id': offer.id}) }}">
                                    {{ offer.name }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('carpooling_edit', {'id': offer.id}) }}">
                                    {{ "user.edit"|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('carpooling_delete', {'id': offer.id}) }}"
                                   onclick="return confirm('{{ 'events.delete.confirmation'|trans({'%event_name%': offer.name}) }}')">
                                    {{ "user.delete"|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <p>{{ "carpooling.offer.none"|trans }} </p>
            {% endif %}
        </div>
        <div>
                <a class="basic-button" href="{{ path('carpooling_add') }}">{{ "carpooling.title"|trans }} </a>
                <a class="basic-button" href="{{ path('user_panel', {'id': app.user.id}) }}">{{ "user.back.to.main.menu"|trans }}</a>
            </div>
    </div>
{% endblock %}

