{% extends 'base.html.twig' %}

{% block title %}{{"admin.panel.title"}}
{% endblock %}

{% block body %}
	<div>
		<h1>{{"admin.panel.title"|trans}}</h1>

		<h3>{{"admin.panel.description"|trans}}</h3>
		<a href="{{path('app_home')}}">{{"admin.panel.switch_to_user"|trans}} </a>
		<h4><a href="{{ path('user_add_event',) }}">{{ "user.add.event.title"|trans}}</a></h4>
		<div class="scrollable-event-card">
			{% for event in events %}
			<div class="user-event-card">
				<ul>
					<li>
						<a href="{{ path('admin_event', {'id': event.id}) }}">{{ event.name }}</a>
						<a href="{{ path('user_edit_event', {'id': event.id}) }}">{{"user.edit"|trans}} </a><a href="{{ path('user_delete_event', {'id': event.id}) }}" onclick="return confirm('{{ 'events.delete.confirmation'|trans({'%event%': event.name}) }}')">{{ 'user.delete'|trans }}</a>
					</li>
				</ul>
			</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
