{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }} 
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .my-map {
            width: 80%;
            height: 500px;
            position: relative;
            margin: auto;
        }
        .my-map iframe {
            width: 100%;
            height: 100%;
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block title %}
    {{ 'events.title'|trans }}
{% endblock %}

{% block body %}
    {% if app.user %}
        <li>
            <a href="{{ path('user_panel', {'id': user.id}) }}">{{ 'user.events'|trans }}</a>
        </li>
    {% endif %}

    <main>
    <h1>{{ 'main.title'|trans|raw }}</h1>

    <div id="map" class="my-map"></div>

    <h2>{{ 'main.secondary.title'|trans }}</h2>

    <div class="carousel-wrapper">
        <button class="carousel-control prev" aria-label="Previous">&#10094;</button>
        <div class="carousel">
            <ul class="carousel-list">
                {% for event in events %}
                    {% if event %}
                        <li class="carousel-item">
                            <div>
                                {{ 'events.location'|trans({'%game%': event.name, '%location%': event.location}) }}
                            </div>
                            <div class="links-wrapper">
                                <a class="see-button a-button" href="{{ path('app_event', {'id': event.id}) }}">{{ event.name }}</a>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <button class="carousel-control next" aria-label="Next">&#10095;</button>
    </div>

    <div id="map-data" data-events='[
        {% for event in events %}
        {
            "name": "{{ event.name }}",
            "longitude": {{ event.coordinates.longitude }},
            "latitude": {{ event.coordinates.latitude }},
            "link": "{{ path('app_event', {'id': event.id}) }}",
            "paf": "{{ event.paf }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]'></div>
</main>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ asset('assets/js/map.js') }}"></script>
    <script src="{{ asset('assets/js/carousel.js') }}"></script>

{% endblock %}
