{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="infos-wrapper">
        <p><strong>{{ event.name }}</strong></p>
        <br>
        <p>{{ event.description|e('html') }}</p>
        <br>
        <p>{{'user.events.info'|trans}} {{ event.referent.email }}</p>
        <br>
        <a href="{{ path('app_home') }}">{{ 'user.back.to.main.menu'|trans }}</a>
        </div>
{% endblock %}
