{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <strong>{{ event.name }}</strong>
    <br>
    {{ event.description }}
    <br>
    <p>{{'user.events.info'|trans}} {{ event.referent.email }}</p>
    <br>
    <a href="{{ path('user_panel' , {'id': app.user.id}) }}">{{ 'user.back.to.main.menu'|trans }}</a>
{% endblock %}
