{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
        <h1 class='highlight main-title'>{{event.name}} </h1>
        <p>{{ event.description|e('html') }}</p>
        <br>
        <p>{{'user.events.info'|trans}} {{ event.referent.email }}</p>
        {% if event.referent.phoneNumber %}
            <br>
            <p>{{'user.phone.info'|trans({'%phone_number%': event.referent.phoneNumber})}} </p>
            {% else %}
            <br>
            <p>{{'user.phone.unavailable'|trans}} </p>
        {% endif %}
        <br>
        <a href="" onclick="history.back()">{{ 'user.back.to.main.menu'|trans }}</a>
        <a href="{{ path('carpooling_related-offers', { 'id': event.id }) }}">{{ 'carpooling.offer.related'|trans }}</a>
        </div>
{% endblock %}
